[submodule "ext/hive"]
	path = ext/hive
	url = https://gitlab.syncad.com/hive/hive.git
	branch = "develop"
[submodule "ext/argparse"]
	path = ext/argparse
	url = https://github.com/p-ranav/argparse.git
